lib/
test.txtDB
*.pdb
*.dll
*.dylib
*.jnilib
*.log
*._*.png
*._*.pdf
*._*.properties
TODO.txt
logger.txt
packaged_docs/user-guide.pdf
src/main/java/au
src/test/java/au
src/main/resources/au
src/main/resources/org/datavyu/resources/Build.properties
src/main/resources/doc
src/main/resources/.yardoc
test-output/
.classpath
.factorypath
.project
.settings/
.fbprefs
.pmd
.checkstyle
.externalToolBuilders/
cop.sh
out.csv
usermetrix.id
datavyu.iml

# R
.RData

# Intellij
/.idea/
.idea/
*.iml
*.iws
modules.xml
*.ipr

# Mac
*.DS_Store
*._.DS_Store

# Maven
log/
target/

# IntelliJ
/out/
quaqua64.jnilib
NativeOSXCanvas.jnilib

# Netbeans
nbproject
nbactions.xml
nb-configuration.xml
